*{
    font-family: Roboto;
  }
  
  .benefits__conteiner {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: horizontal;
     -webkit-box-direction: normal;
         -ms-flex-direction: row;
             flex-direction: row;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     -ms-flex-pack: distribute;
         justify-content: space-around;
     padding-left: 30px;
     padding-right: 30px;
   }
   
   .benefits__h3 {
     color: #3282b8;
     font-style: 20px;
     font-weight: 500;
     padding-top: 20px;
   }
   
   .benefits__card, .team__card {
     width: 300px;
     padding: 25px;
     border-radius: 15px;
     -webkit-box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
             box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.07);
     background-color: #ffffff;
     text-align: center;
     margin-bottom: 10px;
     border: none;
     -webkit-transition: ease-in-out 1s;
     transition: ease-in-out 1s;
   }
   
   .benefits__card:hover, .team__card:hover {
     -webkit-box-shadow: 0 7px 20px 0 #a2d6f8;
             box-shadow: 0 7px 20px 0 #a2d6f8;
     -webkit-transform: scale(1.05);
             transform: scale(1.05);
   }
   
   .benefits__card p, .team__card p {
     margin-left: 0px;
     margin-right: 0px;
   }
   
   .benefits__card .benefits__icon, .team__card .benefits__icon {
     height: 70px;
     margin-top: 20px;
   }